li:hover {
  background-color: #0d6efd;
  color: white;
  transition: all 0.1s ease;
  transform: scale(1.03);
}

.email-item {
  gap: 0.5rem;
}

.bi-copy {
  cursor: pointer;
}
.ciao {
  flex-grow: 1;
}

button {
  width: 20%;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
